* {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: hsl(310, 80%, 15%);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container {
  border: 1px solid hsl(359, 67%, 65%);
  border-radius: 0.25em;
  width: 25em;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.nav {
  padding-left: 1em;
}

.nav:link {
  text-decoration: none;
}

.nav:hover {
  text-decoration: underline;
}

.main-section {
  padding: 2em;
}

.header_smoothie {
  width: 80px;
  object-fit: cover;
  fill: hsl(310, 80%, 15%);
  transition: transform 0.5s cubic-bezier(0.44, -1.39, 0.47, 2.67);
}

.header {
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  color: hsl(310, 80%, 15%);
  margin-bottom: 0.1em;
}

header {
  background-color: hsl(359, 67%, 65%);
  padding: 1em;
  position: sticky;
}

.header:hover > .header_smoothie {
  transform: rotate(-10deg);
}

.order-form {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid hsl(359, 67%, 65%);
  font-size: 1.2em;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.25em;
}

input[type="radio"] {
  /* visually hidden */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input[type="radio"] ~ label {
  opacity: 0.5;
  display: block;
  transition: transform 0.3s;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
}

input[type="radio"] ~ label:hover {
  transform: rotate(-10deg);
}

label {
  font-size: 1.2em;
  padding: 0.5em;
  padding-left: 0;
}

legend {
  text-align: center;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  background-color: hsl(359, 67%, 65%);
  color: hsl(310, 80%, 15%);
  padding: 0.5em;
  width: 5em;
  border: 2px solid hsl(359, 67%, 65%);
  border-radius: 0.25em;
  margin-top: 1em;
  align-self: center;
}

button:hover {
  background-color: hsl(359, 90%, 90%);
  color: hsl(310, 80%, 15%);
  border: 2px solid hsl(359, 67%, 65%);
}

h2 {
  font-size: 2.25em;
  color: hsl(359, 67%, 65%);
}

footer {
  padding-top: 1em;
}

.footer-text {
  margin: 0;
  padding: 0.25em;
  color: hsl(310, 80%, 15%);
  font-weight: 400;
  text-align: center;
}

.blue-smoothie {
  --hue: 250;
}

.green-smoothie {
  --hue: 80;
}

.yellow-smoothie {
  --hue: 60;
}

.orange-smoothie {
  --hue: 20;
}

.pink-smoothie {
  --hue: 340;
}

.main-color {
  fill: hsl(var(--hue), 90%, 70%);
}

.shadow-color {
  fill: hsl(var(--hue), 60%, 50%);
}

.smoothie-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
