<h2 class="welcome-msg">Welcome!</h2>

<form class="order-form" action="/order" method="POST">
    <label class="label-name" for="customer-name">What's your name?</label>
    <input id="customer-name" type="text" name="name" required>

    <p>Choose a smoothie:</p>
    <section class="smoothie-menu">
        <div>
            <input class="radio" id="purple-rain" type="radio" name="order" value="Purple Rain">
            <label class="smoothie-selection" for="purple-rain">

                {{> blue_smoothie}}
                <legend>Purple Rain</legend>

            </label>
        </div>

        <div>
            <input class='radio' id="fac-fruitie" type="radio" name="order" value="FAC Fruitie">
            <label class="smoothie-selection" for="fac-fruitie">

                {{> yellow_smoothie}}
                <legend>FAC Fruitie</legend>

            </label>
        </div>
        <div>
            <input id="mad-mango" type="radio" name="order" value="Mad Mango">
            <label class="smoothie-selection" for="mad-mango">

                {{> orange_smoothie}}
                <legend>Mad Mango</legend>

            </label>
        </div>
        <div>
            <input id="tutti-frutti" type="radio" name="order" value="Tutti Frutti">
            <label class="smoothie-selection" for="tutti-frutti">

                {{> pink_smoothie}}
                <legend>Tutti Frutti</legend>

            </label>
        </div>
    </section>
    <button class="button" type="submit">Order</button>
</form>