<h2>Hey {{ name }}, here's your order history:</h2>

<br>
<br>
<ul class="order_history">
{{#each orders}}

    <li>Order No. {{ id }}</li>
    <p>Your smoothie is: <span class="{{ smoothie_name }}">{{ smoothie_name }}</span></p>
{{/each}}
</ul>