<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
</head>

<body>
    <div class='content-container'>

        <header>
            {{> header }}
        </header>
        <main class="main-section">
            {{{body}}}
        </main>
        <footer>
            {{> footer }}
        </footer>
    </div>
</body>

</html>